@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Orbitron:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Exo 2', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Orbitron', sans-serif;
}

.header-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.timeline-item:nth-child(odd) .timeline-content {
    text-align: right;
}

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: hidden;
}